
.pricing-table-v5 .bg-green {
	background-color: rgba(116,197,44, 0.9);
}

.pricing-table-v5 .bg-blue {
	background-color: rgba(52, 152, 219, 1);
}

.pricing-table-v5 .bg-orange {
	background-color: rgba(230,126,34, 1);
}

.pricing-table-v5 .bg-red {
	background-color: rgba(231,76,60, 1);
}

.pricing-table-v5 .bg-grey {
	background-color: rgba(189,195,199, 1);
}

.pricing-table-v5 .bg-purple {
	background-color: rgba(155,107,204, 1);
}

.pricing-table-v5 .bg-aqua {
	background-color: rgba(39,215,231, 1);
}

.pricing-table-v5 .bg-brown {
	background-color: rgba(156,128,97, 1);
}

.pricing-table-v5 .bg-dark-blue {
	background-color: rgba(71,101,160, 1);
}

.pricing-table-v5 .bg-light-green {
	background-color: rgba(121,213,179, 1);
}

.pricing-table-v5 .pricing-v5 {
	position: relative;
	margin-bottom: 30px;
	border: 1px solid rgba(116,197,44, 0.5);
}

.pricing-table-v5 .pricing-v5-head {
	text-align: center;
	padding: 0 0 8px 0;
	border-bottom: 1px solid rgba(116,197,44, 0.1);
}

.pricing-table-v5 .pricing-v5-head h4,
.pricing-table-v5 .pricing-v5-head h5,
.pricing-table-v5 .pricing-v5-head h5 span {
	margin: 0;
	padding: 10px 0;
	font-family: Arial;
	letter-spacing: 1px;
	color: rgba(116,197,44, 1);
	color: rgba(116, 197, 44, 1);
}

.pricing-table-v5 .pricing-v5-head h4 {
	font-size: 21px;
	background: rgba(116,197,44, 1);
	padding: 30px 0;
	color: #fff;
}
.pricing-table-v5 .pricing-rounded {
	width: 90px;
	height: 90px;
	display: inline-block;
	padding: 10px;
	border-radius: 50% !important;
	margin:  20px 0px 10px 0;
	border: 3px solid rgba(116, 197, 44, .4);

}
.pricing-table-v5 .pricing-v5-head h5 {
	font-size: 30px;
	margin: 6px 3px 0 0;
}
.pricing-table-v5 .pricing-v5-head h5 span {
	font-size: 20px;
	margin-right: 3px;
}

.pricing-table-v5  a {
	margin: 0 -8px;
	display: block;
	font-size: 20px;
}

.pricing-table-v5 .pricing-v5-head h5 i {
	display: block;
	font-size: 12px;
	font-style: normal;
	padding-left: 10px;
}

.pricing-table-v5 .pricing-v5-head a {
	position: relative;
}

.pricing-table-v5 .pricing-v5-head a span {
	margin-left: 7px;
}

.pricing-table-v5  a .price-corner {
	width: 0;
	height: 0;
	right: -1px;
	bottom: -8px;
	display: block;
	position: absolute;
	border-style: solid;
	border-width: 8px 8px 0 0;
	border-color: #477c17 transparent transparent;

}.pricing-table-v5  a .price-corner-2 {
    width: 0;
    height: 0;
    left: -1px;
    bottom: -15px;
    display: block;
    position: absolute;
    border-style: solid;
    border-width: 8px 0 8px 8px;
	border-color: #477c17 transparent transparent;
}

.pricing-table-v5 .pricing-v5-head .btn-u {
    padding: 6px 13px 6px 26px;
}

.pricing-table-v5  .pricing-v5-content {
	margin-bottom: 0;
}

.pricing-table-v5 .pricing-v5-content li i {
	float: right;
	font-style: normal;
	color: rgba(116,197,44, 1);
}

.pricing-table-v5 .pricing-v5-content li {
	margin: 0;
	font-size: 14px;
	padding: 12px 0;
	color: rgba(116,197,44, 1);
	border-bottom: 1px solid rgba(116,197,44, 0.1);
}

.pricing-table-v5 .pricing-v5-footer {
	padding: 20px 2px 20px 16px;
}

.pricing-table-v5 .pricing-v5-blue {
	border: 1px solid rgba(52, 152, 219, 0.5);
}

.pricing-table-v5 .pricing-v5-blue .pricing-v5-head,
.pricing-table-v5 .pricing-v5-blue .pricing-v5-content li {
	border-bottom: 1px solid rgba(52, 152, 219, 0.1);
}

.pricing-table-v5 .pricing-v5-blue a .price-corner,
.pricing-table-v5 .pricing-v5-blue a .price-corner-2 {
	border-color: #1d5378 transparent transparent;
}

.pricing-table-v5 .pricing-v5-blue h4 {
	background: rgba(52, 152, 219, 1);
}
.pricing-table-v5 .pricing-v5-blue h5,
.pricing-table-v5 .pricing-v5-blue h5 span {
	color: rgba(52, 152, 219, 1);
}

.pricing-table-v5 .pricing-v5-blue .pricing-rounded {
	border-color: rgba(52, 152, 219, 0.5);
}

.pricing-table-v5 .pricing-v5-blue .pricing-v5-content li,
.pricing-table-v5 .pricing-v5-blue .pricing-v5-content li i {
	color: rgba(52, 152, 219, 1);
}

.pricing-table-v5 .pricing-v5-orange {
	border: 1px solid rgba(230,126,34, 0.5);
}

.pricing-table-v5 .pricing-v5-orange .pricing-v5-head,
.pricing-table-v5 .pricing-v5-orange .pricing-v5-content li {
	border-bottom: 1px solid rgba(230,126,34, 0.1);
}

.pricing-table-v5 .pricing-v5-orange a .price-corner,
.pricing-table-v5 .pricing-v5-orange a .price-corner-2 {
	border-color: #985921 transparent transparent;
}

.pricing-table-v5 .pricing-v5-orange h4{
	background: rgba(230,126,34, 1);
}

.pricing-table-v5 .pricing-v5-orange h5,
.pricing-table-v5 .pricing-v5-orange h5 span {
	color: rgba(230,126,34, 1);
}

.pricing-table-v5 .pricing-v5-orange .pricing-rounded {
	border-color: rgba(230,126,34, 0.5);
}

.pricing-table-v5 .pricing-v5-orange .pricing-v5-content li,
.pricing-table-v5 .pricing-v5-orange .pricing-v5-content li i {
	color: rgba(230,126,34, 1);
}

.pricing-table-v5 .pricing-v5-red {
	border: 1px solid rgba(231,76,60, 0.5);
}

.pricing-table-v5 .pricing-v5-red .pricing-v5-head,
.pricing-table-v5 .pricing-v5-red .pricing-v5-content li {
	border-bottom: 1px solid rgba(231,76,60, 0.1);
}

.pricing-table-v5 .pricing-v5-red h4 {
	background: rgba(231,76,60, 1);
}

.pricing-table-v5 .pricing-v5-red h5,
.pricing-table-v5 .pricing-v5-red h5 span {
	color: rgba(231,76,60, 1);
}

.pricing-table-v5 .pricing-v5-red .pricing-rounded {
	border-color: rgba(231,76,60, 0.5);
}

.pricing-table-v5 .pricing-v5-red a .price-corner,
.pricing-table-v5 .pricing-v5-red a .price-corner-2 {
	border-color: #8f382f transparent transparent;
}

.pricing-table-v5 .pricing-v5-red .pricing-v5-content li,
.pricing-table-v5 .pricing-v5-red .pricing-v5-content li i {
	color: rgba(231,76,60, 1);
}

.pricing-table-v5 .pricing-v5-grey {
	border: 1px solid #ddd;
}

.pricing-table-v5 .pricing-v5-grey .pricing-v5-head,
.pricing-table-v5 .pricing-v5-grey .pricing-v5-content li {
	border-bottom: 1px solid #eee;
}

.pricing-table-v5 .pricing-v5-grey h4 {
	background:  #95a5a6;
}

.pricing-table-v5 .pricing-v5-grey h5,
.pricing-table-v5 .pricing-v5-grey h5 span {
	color: #90a5a6;
}

.pricing-table-v5 .pricing-v5-grey .pricing-rounded {
	border-color: #cfd5d5;
}

.pricing-table-v5 .pricing-v5-grey a .price-corner,
.pricing-table-v5 .pricing-v5-grey a .price-corner-2 {
	border-color: #686f6f transparent transparent;
}

.pricing-table-v5 .pricing-v5-grey .pricing-v5-content li,
.pricing-table-v5 .pricing-v5-grey .pricing-v5-content li i {
	color: #95a5a6;
}

.pricing-table-v5 .pricing-v5-purple {
	border: 1px solid rgba(155,107,204, 0.5);
}

.pricing-table-v5 .pricing-v5-purple .pricing-v5-head,
.pricing-table-v5 .pricing-v5-purple .pricing-v5-content li {
	border-bottom: 1px solid rgba(155,107,204, 0.1);
}

.pricing-table-v5 .pricing-v5-purple h4 {
	background: rgba(155,107,204, 1);
}

.pricing-table-v5 .pricing-v5-purple h5,
.pricing-table-v5 .pricing-v5-purple h5 span {
	color: rgba(155,107,204, 1);
}

.pricing-table-v5 .pricing-v5-purple .pricing-rounded {
	border-color: rgba(155,107,204, 0.5);
}

.pricing-table-v5 .pricing-v5-purple a .price-corner,
.pricing-table-v5 .pricing-v5-purple a .price-corner-2 {
	border-color: #5f2798 transparent transparent;
}

.pricing-table-v5 .pricing-v5-purple .pricing-v5-content li,
.pricing-table-v5 .pricing-v5-purple .pricing-v5-content li i {
	color: rgba(155,107,204, 1);
}

.pricing-table-v5 .pricing-v5-aqua {
	border: 1px solid  rgba(39,215,231, 0.5);
}

.pricing-table-v5 .pricing-v5-aqua .pricing-v5-head,
.pricing-table-v5 .pricing-v5-aqua .pricing-v5-content li {
	border-bottom: 1px solid rgba(39,215,231, 0.1);
}

.pricing-table-v5 .pricing-v5-aqua h4 {
	background: rgba(39,215,231, 1);
}

.pricing-table-v5 .pricing-v5-aqua h5,
.pricing-table-v5 .pricing-v5-aqua h5 span {
	color: rgba(39,215,231, 1);
}

.pricing-table-v5 .pricing-v5-aqua .pricing-rounded {
	border-color: rgba(39,215,231, 0.5);
}

.pricing-table-v5 .pricing-v5-aqua a .price-corner,
.pricing-table-v5 .pricing-v5-aqua a .price-corner-2 {
	border-color: #1b848e transparent transparent;
}

.pricing-table-v5 .pricing-v5-aqua .pricing-v5-content li,
.pricing-table-v5 .pricing-v5-aqua .pricing-v5-content li i {
	color: rgba(39,215,231, 1);
}

.pricing-table-v5 .pricing-v5-brown {
	border: 1px solid rgba(156,128,97, 0.5);
}

.pricing-table-v5 .pricing-v5-brown .pricing-v5-head,
.pricing-table-v5 .pricing-v5-brown .pricing-v5-content li {
	border-bottom: 1px solid rgba(156,128,97, 0.1);
}

.pricing-table-v5 .pricing-v5-brown h4 {
	background: rgba(156,128,97, 1);
}

.pricing-table-v5 .pricing-v5-brown h5,
.pricing-table-v5 .pricing-v5-brown h5 span {
	color: rgba(156,128,97, 1);
}

.pricing-table-v5 .pricing-v5-brown .pricing-rounded {
	border-color: rgba(156,128,97, 0.5);
}

.pricing-table-v5 .pricing-v5-brown a .price-corner,
.pricing-table-v5 .pricing-v5-brown a .price-corner-2 {
	border-color: #705537 transparent transparent;
}

.pricing-table-v5 .pricing-v5-brown .pricing-v5-content li,
.pricing-table-v5 .pricing-v5-brown .pricing-v5-content li i {
	color: rgba(156,128,97, 1);
}

.pricing-table-v5 .pricing-v5-dark-blue {
	border: 1px solid rgba(71,101,160, 0.5);
}

.pricing-table-v5 .pricing-v5-dark-blue .pricing-v5-head,
.pricing-table-v5 .pricing-v5-dark-blue .pricing-v5-content li {
	border-bottom: 1px solid rgba(71,101,160, 0.1);
}

.pricing-table-v5 .pricing-v5-dark-blue h4{
	background: rgba(71,101,160, 1);
}

.pricing-table-v5 .pricing-v5-dark-blue h5,
.pricing-table-v5 .pricing-v5-dark-blue h5 span {
	color: rgba(71,101,160, 1);
}

.pricing-table-v5 .pricing-v5-dark-blue .pricing-rounded {
	border-color: rgba(71,101,160, 1);
}

.pricing-table-v5 .pricing-v5-dark-blue a .price-corner,
.pricing-table-v5 .pricing-v5-dark-blue a .price-corner-2 {
	border-color: #233d71 transparent transparent;
}

.pricing-table-v5 .pricing-v5-dark-blue .pricing-v5-content li,
.pricing-table-v5 .pricing-v5-dark-blue .pricing-v5-content li i {
	color: rgba(71,101,160, 1);
}

.pricing-table-v5 .pricing-v5-light-green {
	border: 1px solid rgba(121,213,179, 0.7)
}

.pricing-table-v5 .pricing-v5-light-green .pricing-v5-head,
.pricing-table-v5 .pricing-v5-light-green .pricing-v5-content li {
	border-bottom: 1px solid rgba(121,213,179, 0.2)
}

.pricing-table-v5 .pricing-v5-light-green h4{
	background: rgba(121,213,179, 1);
}

.pricing-table-v5 .pricing-v5-light-green h5,
.pricing-table-v5 .pricing-v5-light-green h5 span {
	color: rgba(121,213,179, 1);
}

.pricing-table-v5 .pricing-v5-light-green .pricing-rounded {
	border-color: rgba(121,213,179, 0.5);
}

.pricing-table-v5 .pricing-v5-light-green a .price-corner,
.pricing-table-v5 .pricing-v5-light-green a .price-cornere-2 {
	border-color: #2a8563 transparent transparent;
}

.pricing-table-v5 .pricing-v5-light-green .pricing-v5-content li,
.pricing-table-v5 .pricing-v5-light-green .pricing-v5-content li i {
	color: rgba(121,213,179, 1);
}

/* Devices (Large Screen Mode, 1200px more) */
@media (min-width: 1200px) {
	
	.pricing-table-v5 .active {
		-webkit-transform: scale(1.09);
		-moz-transform: scale(1.09);
	} 

}

/* Devices (Desktop Mode, 992px and 1200px) */
@media (min-width: 992px) and (max-width: 1200px) {
	
	.pricing-table-v5 .active {
		-webkit-transform: scale(1.05);
		-moz-transform: scale(1.05);
	}

	.pricing-v5-head {
		text-align: center;
	}
	.pricing-rounded {
    	margin: 17px 0 55px;
	}
	.pricing-table-v5 .pricing-v5-head a {
	    margin-top: -40px;
	}
	.pricing-table-v5 .pricing-v5-head .btn-u {
	   padding: 6px 46px 6px 40px;
	}


}


/* Devices (Tablet Mode, 768px and 991px) */
@media (min-width: 767px) and (max-width: 991px) {
	
	.no-space-pricing [class^="col-"],
	.no-space-pricing [class*=" col-"] {
		padding: 5px;
	}
	
	.pricing-table-v3 .pricing-v3-head h4 {
		font-size: 17px;
	}

	.pricing-table-v3 .pricing-v3-content li {
		padding: 12px 7px;
	}

}

/* Medium Devices (Phone Mode, 768px and less) */
@media (max-width: 767px) {
	/*Pricing Page*/
	
	.no-space-pricing [class^="col-"],
	.no-space-pricing [class*=" col-"] {
		padding: 10px;
	}
}

.btn-u {
	border: 0;
	color: #fff;
	font-size: 14px;
	cursor: pointer;
	font-weight: 400;
	padding: 6px 13px;
	position: relative;
	background: #72c02c;
	white-space: nowrap;
	display: inline-block;
	text-decoration: none;
}
.btn-u:hover {
	color: #fff;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
}
.btn-u:hover,
.btn-u:focus,
.btn-u:active,
.btn-u.active,
.open .dropdown-toggle.btn-u {
	background: #5fb611;
}
.btn-u-split.dropdown-toggle {
	border-left: solid 1px #5fb611;
}

.btn-u.btn-u-blue {
	background: #3498db;
}
.btn-u.btn-u-blue:hover,
.btn-u.btn-u-blue:focus,
.btn-u.btn-u-blue:active,
.btn-u.btn-u-blue.active,
.open .dropdown-toggle.btn-u.btn-u-blue {
	background: #2980b9;
}
.btn-u.btn-u-split-blue.dropdown-toggle {
	border-left: solid 1px #2980b9;
}

.btn-u.btn-u-red {
	background: #e74c3c;
}
.btn-u.btn-u-red:hover,
.btn-u.btn-u-red:focus,
.btn-u.btn-u-red:active,
.btn-u.btn-u-red.active,
.open .dropdown-toggle.btn-u.btn-u-red {
	background: #c0392b;
}
.btn-u.btn-u-split-red.dropdown-toggle {
	border-left: solid 1px #c0392b;
}

.btn-u.btn-u-orange {
	background: #e67e22;
}
.btn-u.btn-u-orange:hover,
.btn-u.btn-u-orange:focus,
.btn-u.btn-u-orange:active,
.btn-u.btn-u-orange.active,
.open .dropdown-toggle.btn-u.btn-u-orange {
	background: #d35400;
}
.btn-u.btn-u-split-orange.dropdown-toggle {
	border-left: solid 1px #d35400;
}

.btn-u.btn-u-sea {
	background: #1abc9c;
}
.btn-u.btn-u-sea:hover,
.btn-u.btn-u-sea:focus,
.btn-u.btn-u-sea:active,
.btn-u.btn-u-sea.active,
.open .dropdown-toggle.btn-u.btn-u-sea {
	background: #16a085;
}
.btn-u.btn-u-split-sea.dropdown-toggle {
	border-left: solid 1px #16a085;
}

.btn-u.btn-u-green {
	background: #2ecc71;
}
.btn-u.btn-u-green:hover,
.btn-u.btn-u-green:focus,
.btn-u.btn-u-green:active,
.btn-u.btn-u-green.active,
.open .dropdown-toggle.btn-u.btn-u-green {
	background: #27ae60;
}
.btn-u.btn-u-split-green.dropdown-toggle {
	border-left: solid 1px #27ae60;
}

.btn-u.btn-u-yellow {
	background: #f1c40f;
}
.btn-u.btn-u-yellow:hover,
.btn-u.btn-u-yellow:focus,
.btn-u.btn-u-yellow:active,
.btn-u.btn-u-yellow.active,
.open .dropdown-toggle.btn-u.btn-u-yellow {
	background: #f39c12;
}
.btn-u.btn-u-split-yellow.dropdown-toggle {
	border-left: solid 1px #f39c12;
}

.btn-u.btn-u-default {
	background: #95a5a6;
}
.btn-u.btn-u-default:hover,
.btn-u.btn-u-default:focus,
.btn-u.btn-u-default:active,
.btn-u.btn-u-default.active,
.open .dropdown-toggle.btn-u.btn-u-default {
	background: #7f8c8d;
}
.btn-u.btn-u-split-default.dropdown-toggle {
	border-left: solid 1px #7f8c8d;
}

.btn-u.btn-u-purple {
	background: #9b6bcc;
}
.btn-u.btn-u-purple:hover,
.btn-u.btn-u-purple:focus,
.btn-u.btn-u-purple:active,
.btn-u.btn-u-purple.active,
.open .dropdown-toggle.btn-u.btn-u-purple {
	background: #814fb5;
}
.btn-u.btn-u-split-purple.dropdown-toggle {
	border-left: solid 1px #814fb5;
}

.btn-u.btn-u-aqua {
	background: #27d7e7;
}
.btn-u.btn-u-aqua:hover,
.btn-u.btn-u-aqua:focus,
.btn-u.btn-u-aqua:active,
.btn-u.btn-u-aqua.active,
.open .dropdown-toggle.btn-u.btn-u-aqua {
	background: #26bac8;
}
.btn-u.btn-u-split-aqua.dropdown-toggle {
	border-left: solid 1px #26bac8;
}

.btn-u.btn-u-brown {
	background: #9c8061;
}
.btn-u.btn-u-brown:hover,
.btn-u.btn-u-brown:focus,
.btn-u.btn-u-brown:active,
.btn-u.btn-u-brown.active,
.open .dropdown-toggle.btn-u.btn-u-brown {
	background: #81674b;
}
.btn-u.btn-u-split-brown.dropdown-toggle {
	border-left: solid 1px #81674b;
}

.btn-u.btn-u-dark-blue {
	background: #4765a0;
}
.btn-u.btn-u-dark-blue:hover,
.btn-u.btn-u-dark-blue:focus,
.btn-u.btn-u-dark-blue:active,
.btn-u.btn-u-dark-blue.active,
.open .dropdown-toggle.btn-u.btn-u-dark-blue {
	background: #324c80;
}
.btn-u.btn-u-split-dark.dropdown-toggle {
	border-left: solid 1px #324c80;
}

.btn-u.btn-u-light-green {
	background: #79d5b3;
}
.btn-u.btn-u-light-green:hover,
.btn-u.btn-u-light-green:focus,
.btn-u.btn-u-light-green:active,
.btn-u.btn-u-light-green.active,
.open .dropdown-toggle.btn-u.btn-u-light-green {
	background: #59b795;
}
.btn-u.btn-u-split-light-green.dropdown-toggle {
	border-left: solid 1px #59b795;
}

.btn-u.btn-u-dark {
	background: #555;
}
.btn-u.btn-u-dark:hover,
.btn-u.btn-u-dark:focus,
.btn-u.btn-u-dark:active,
.btn-u.btn-u-dark.active,
.open .dropdown-toggle.btn-u.btn-u-dark {
	background: #333;
}
.btn-u.btn-u-split-dark.dropdown-toggle {
	border-left: solid 1px #333;
}

.btn-u.btn-u-light-grey {
	background: #585f69;
}
.btn-u.btn-u-light-grey:hover,
.btn-u.btn-u-light-grey:focus,
.btn-u.btn-u-light-grey:active,
.btn-u.btn-u-light-grey.active,
.open .dropdown-toggle.btn-u.btn-u-light-grey {
	background: #484f58;
}
.btn-u.btn-u-split-light-grey.dropdown-toggle {
	border-left: solid 1px #484f58;
}

/*Bordered Buttons*/
.btn-u.btn-brd {
	color: #555;
	background: none;
	padding: 5px 13px;
	border: solid 1px transparent;
}
.btn-u.btn-brd-width-2 {
	padding: 7px 18px;
	border-width: 2px;
}
.btn-u.btn-brd:hover {
	background: none;
}
.btn-u.btn-brd:focus {
	background: none;
}
.btn-u.btn-brd.btn-brd-hover:hover {
	color: #fff !important;
}

.btn-u.btn-brd {
	border-color: #72c02c;
}
.btn-u.btn-brd:hover {
	color: #5fb611;
	border-color: #5fb611;
}
.btn-u.btn-brd.btn-brd-hover:hover {
	background: #5fb611;
}

.btn-u.btn-brd.btn-u-blue {
	border-color: #3498db;
}
.btn-u.btn-brd.btn-u-blue:hover {
	color: #2980b9;
	border-color: #2980b9;
}
.btn-u.btn-brd.btn-u-blue.btn-brd-hover:hover {
	background: #2980b9;
}

.btn-u.btn-brd.btn-u-red {
	border-color: #e74c3c;
}
.btn-u.btn-brd.btn-u-red:hover {
	color: #c0392b;
	border-color: #c0392b;
}
.btn-u.btn-brd.btn-u-red.btn-brd-hover:hover {
	background: #c0392b;
}

.btn-u.btn-brd.btn-u-orange {
	border-color: #e67e22;
}
.btn-u.btn-brd.btn-u-orange:hover {
	color: #d35400;
	border-color: #d35400;
}
.btn-u.btn-brd.btn-u-orange.btn-brd-hover:hover {
	 background: #d35400;
}

.btn-u.btn-brd.btn-u-sea {
	border-color: #1abc9c;
}
.btn-u.btn-brd.btn-u-sea:hover {
	color: #16a085;
	border-color: #16a085;
}
.btn-u.btn-brd.btn-u-sea.btn-brd-hover:hover {
	background: #16a085;
}

.btn-u.btn-brd.btn-u-green {
	border-color: #2ecc71;
}
.btn-u.btn-brd.btn-u-green:hover {
	color: #27ae60;
	border-color: #27ae60;
}
.btn-u.btn-brd.btn-u-green.btn-brd-hover:hover {
	background: #27ae60;
}

.btn-u.btn-brd.btn-u-yellow {
	border-color: #f1c40f;
}
.btn-u.btn-brd.btn-u-yellow:hover {
	color: #f39c12;
	border-color: #f39c12;
}
.btn-u.btn-brd.btn-u-yellow.btn-brd-hover:hover {
	background: #f39c12;
}

.btn-u.btn-brd.btn-u-default {
	border-color: #95a5a6;
}
.btn-u.btn-brd.btn-u-default:hover {
	color: #7f8c8d;
	border-color: #7f8c8d;
}
.btn-u.btn-brd.btn-u-default.btn-brd-hover:hover {
	background: #7f8c8d;
}

.btn-u.btn-brd.btn-u-dark {
	border-color: #555;
}
.btn-u.btn-brd.btn-u-dark:hover {
	color: #333;
	border-color: #333;
}
.btn-u.btn-brd.btn-u-dark.btn-brd-hover:hover {
	background: #333;
}

.btn-u.btn-brd.btn-u-light-grey {
	border-color: #585f69;
}
.btn-u.btn-brd.btn-u-light-grey:hover {
	color: #484f58;
	border-color: #484f58;
}
.btn-u.btn-brd.btn-u-light-grey.btn-brd-hover:hover {
	background: #484f58;
}

.btn-u.btn-brd.btn-u-purple {
	border-color: #9b6bcc;
}
.btn-u.btn-brd.btn-u-purple:hover {
	color: #814fb5;
	border-color: #814fb5;
}
.btn-u.btn-brd.btn-u-purple.btn-brd-hover:hover {
	background: #814fb5;
}

.btn-u.btn-brd.btn-u-aqua {
	border-color: #27d7e7;
}
.btn-u.btn-brd.btn-u-aqua:hover {
	color: #26bac8;
	border-color: #26bac8;
}
.btn-u.btn-brd.btn-u-aqua.btn-brd-hover:hover {
	background: #26bac8;
}

.btn-u.btn-brd.btn-u-brown {
	border-color: #9c8061;
}
.btn-u.btn-brd.btn-u-brown:hover {
	color: #81674b;
	border-color: #81674b;
}
.btn-u.btn-brd.btn-u-brown.btn-brd-hover:hover {
	background: #81674b;
}

.btn-u.btn-brd.btn-u-dark-blue {
	border-color: #4765a0;
}
.btn-u.btn-brd.btn-u-dark-blue:hover {
	color: #324c80;
	border-color: #324c80;
}
.btn-u.btn-brd.btn-u-dark-blue.btn-brd-hover:hover {
	background: #324c80;
}

.btn-u.btn-brd.btn-u-light-green {
	border-color: #79d5b3;
}
.btn-u.btn-brd.btn-u-light-green:hover {
	color: #59b795;
	border-color: #59b795;
}
.btn-u.btn-brd.btn-u-light-green.btn-brd-hover:hover {
	background: #59b795;
}

.btn-u.btn-brd.btn-u-light {
	color: #fff;
	border-color: #fff;
}
.btn-u.btn-brd.btn-u-light:hover {
	border-color: #fff;
}
.btn-u.btn-brd.btn-u-light.btn-brd-hover:hover {
 background: #fff;
 color: #555 !important;
}
