@import url('https://fonts.googleapis.com/css?family=Cookie');

@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/ProximaNova-Regular.eot');
	src: url('../fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Regular.woff') format('woff'),
		url('../fonts/ProximaNova-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/ProximaNova-Bold.eot');
	src: url('../fonts/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Bold.woff') format('woff'),
		url('../fonts/ProximaNova-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Proxima Nova';
	src: url('../fonts/ProximaNova-Light.eot');
	src: url('../fonts/ProximaNova-Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova-Light.woff') format('woff'),
		url('../fonts/ProximaNova-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}


html {
  position: relative;
  min-height: 100%;
}

body {
	font-family: 'Proxima Nova';
	font-weight:normal;
	font-size:16px;
	line-height:26px;
}
a{ color:#243b96;}
a:hover{ color:#000;}
.bold{	font-weight:bold;}
.text-red{color:#ff0000!important;}
.btn {
  letter-spacing: 1px;
  font-weight: bold;
  font-size:18px;
  display: inline-block;
  line-height: 43px;
  border: none;
  border-radius: 0;
  box-shadow: none;
  text-shadow: none;
}

.btn-group-xl>.btn, .btn-xl {
    padding: 20px 80px;
    font-size: 18px;
    line-height: 1.3333333;
}
.btn-group-lg>.btn, .btn-lg {
    padding: 15px 60px;
    font-size: 16px;
    line-height: 1.3333333;
}
.btn-group-md>.btn, .btn-md {
    padding: 12px 40px;
    font-size: 14px;
    line-height: 1.3333333;
}
.btn-group-sm>.btn, .btn-sm {
    padding: 8px 20px;
    font-size: 14px;
    line-height: 1.3333333;
}
.btn-round {
  border-radius:50px;
}
.btn-red{
	background:#d61736;
	color:#fff;
}
.btn-red:focus,
.btn-red:hover{
	background:#ce1230;
	color:#fff;
}
.btn-blue{
	background:#243b96;
	color:#fff;
}
.btn-blue:focus,
.btn-blue:hover{
	background:#1c328c;
	color:#fff;
}
.btn-black{
	background:#000;
	color:#fff;
}
.btn-black:focus,
.btn-black:hover{
	background:#000;
	color:#fff;
}
.btn-white{
	background:#fff;
	color:#000;
}
.btn-white:focus,
.btn-white:hover{
	background:#fff;
	color:#000;
}
.btn-gray{
	background:#f1f2f5;
}
.btn-gray:hover,
.btn-gray:focus,
.btn-gray.focus,
.btn-gray:active,
.btn-gray.active{
  background-color: #eaeaec;
  border-color: #eaeaec;
  color:#000;
}
.b-a{ border:2px solid #ddd;}
.form-control{
	border-radius:0px;
	border:2px solid #caccce;
	box-shadow:none;
	height:43px;
	font-size:15px;
}
.form-control:focus {
    border-color: #bec1c4;
    outline: 0;
    box-shadow: none;
}
.form-control-sm{
	border-radius:0px;
	border:1px solid #ddd;
	box-shadow:none;
	height:36px;
	font-size:15px;
}
.form-control-sm:focus {
    border-color: #bec1c4;
    outline: 0;
    box-shadow: none;
}

/*********Checkbox & Radio************/
.radio,
.checkbox {
    margin-bottom: 10px;
    margin-top: 10px;
    padding-left: 0px;
}
.radio label,
.checkbox label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    padding-left: 25px!important;
    margin-right: 15px;
    font-size: 16px;
}
.radio label:before,
.checkbox label:before {
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    position: absolute;
    left: 0px;
	top: 3px;
    background-color: #ffffff;
    border: 2px solid #d0d0d0;
}
.radio label {
    margin-bottom: 6px;
}
.radio label:before {
    bottom: 2.5px;
    border-radius: 99px;
    -webkit-transition: border 0.3s 0s cubic-bezier(0.455, 0.03, 0.215, 1.33);
    transition: border 0.3s 0s cubic-bezier(0.455, 0.03, 0.215, 1.33);
}
.radio input[type=radio]:checked+label:before {
    border-width: 5px;
}
.radio input[type="radio"]:focus+label {
    color: #2c2c2c;
}
.radio input[type="radio"]:focus+label:before {
    background-color: #e6e6e6;
}
.radio input[type=radio] {
    opacity: 0;
    width: 0;
    height: 0;
}
.radio input[type=radio][disabled]+label {
    opacity: 0.65;
}
.radio.radio-black input[type=radio]:checked+label:before {
    border-color: #787878;
}
.radio.radio-success input[type=radio]:checked+label:before {
    border-color: #10cfbd;
}
.radio.radio-primary input[type=radio]:checked+label:before {
    border-color: #6d5cae;
}
.radio.radio-info input[type=radio]:checked+label:before {
    border-color: #3b4752;
}
.radio.radio-warning input[type=radio]:checked+label:before {
    border-color: #f8d053;
}
.radio.radio-danger input[type=radio]:checked+label:before {
    border-color: #f55753;
}
.radio.radio-complete input[type=radio]:checked+label:before {
    border-color: #48b0f7;
}
.checkbox input[type=radio][disabled]+label:after {
    background-color: #e6e6e6;
}
.checkbox label {
    transition: border 0.2s linear 0s, color 0.2s linear 0s;
    white-space: nowrap;
}
.checkbox label:before {
    top: 3px;
    border-radius: 2px;
    transition: border 0.2s linear 0s, color 0.2s linear 0s;
}
.checkbox label::after {
    display: inline-block;
    width: 18px;
    height: 18px;
    position: absolute;
    left: 4px;
    top: 0px;
    font-size: 13px;
    transition: border 0.2s linear 0s, color 0.2s linear 0s;
}
.checkbox label:after {
    border-radius: 2px;
}
.checkbox input[type=checkbox] {
    opacity: 0;
    width: 0;
    height: 0;
}

.checkbox input[type=checkbox]:checked+label:before {
    border-width: 10px;
}
.checkbox input[type=checkbox]:checked+label::after {
    font-family: 'FontAwesome';
    content: "\F00C";
    color: #fff;
}
.checkbox input[type="checkbox"]:focus+label {
    color: #2c2c2c;
}
.checkbox input[type="checkbox"]:focus+label:before {
    background-color: #e6e6e6;
}
.checkbox input[type=checkbox][disabled]+label {
    opacity: 0.65;
}
.checkbox input[type=checkbox][disabled]+label:before {
    background-color: #eceff3;
}
.checkbox.check-black input[type=checkbox]:checked+label:before {
    border-color: #787878;
}
.checkbox.check-success input[type=checkbox]:checked+label:before {
    border-color: #10cfbd;
}
.checkbox.check-primary input[type=checkbox]:checked+label:before {
    border-color: #6d5cae;
}
.checkbox.check-complete input[type=checkbox]:checked+label:before {
    border-color: #48b0f7;
}
.checkbox.check-warning input[type=checkbox]:checked+label:before {
    border-color: #f8d053;
}
.checkbox.check-danger input[type=checkbox]:checked+label:before {
    border-color: #f55753;
}
.checkbox.check-info input[type=checkbox]:checked+label:before {
    border-color: #3b4752;
}
.checkbox.check-success input[type=checkbox]:checked+label::after,
.checkbox.check-primary input[type=checkbox]:checked+label::after,
.checkbox.check-complete input[type=checkbox]:checked+label::after,
.checkbox.check-warning input[type=checkbox]:checked+label::after,
.checkbox.check-danger input[type=checkbox]:checked+label::after,
.checkbox.check-info input[type=checkbox]:checked+label::after {
    color: #ffffff;
}
/*********Checkbox & Radio end***************/




.banner-section{
	width: 100%;
	display: block;
	position: relative;
	overflow: hidden;
	background-repeat: no-repeat;
	background-attachment: inherit;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-image: url(../images/banner-img.jpg);
	padding: 220px 0px 0px;
    height: 450px;
}
.banner-content{
	display: table;
	width: 100%;
	height: 100%;
	position: relative;
}
.banner-text{
	display: table-cell;
	height: 100%;
	vertical-align: middle;
}
.banner-block{
	display:block;
	background:rgba(0,0,0,0.55);
	padding:30px 30px 15px;
}
.banner-block h1{
	font-size:40px;
	text-transform:uppercase;
	color:#007e98;
	margin:0px;
	padding:0px;
	font-weight:bold;
}
.banner-block h2{
	font-size:36px;
	text-transform:uppercase;
	color:#fff;
	margin:0px;
	padding:0px;
	font-weight:bold;
}
.banner-block h3{
	font-size:24px;
	text-transform:uppercase;
	color:#fff;
	margin:10px 0px 0px;
	padding:0px;
	font-weight:bold;
}
.banner-block ul{
	margin:15px 0px;
	padding:0px;
}
.banner-block ul li{
	display:inline-block;
	list-style:none;
	margin-right:20px;
	color:#fff;
	font-size:20px;
}
.banner-block ul li span{
    color: #fff;
    background: #ff0000;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    padding: 10px;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    margin-right: 8px;
}
.banner-block input{
	padding-left: 30px;
    padding-right: 30px;
}
.banner-block .input-icon {
    position: absolute;
    right: 26px;
    top: 13px;
    color: #909090;
}

.banner-block .search-icon {
	font-size: 17px;
    left: 24px;
    position: absolute;
    top: 12px;
}

.bg-overlay {
    background: rgba(255,255,255,0.90);
}

.padd-v-80{
	padding-top:80px;
	padding-bottom:80px;
}
.padd-t-80{
	padding-top:80px;
}
.padd-v-60{
	padding-top:60px;
	padding-bottom:60px;
}
.padd-t-60{
	padding-top:60px;
}
.padd-b-60{
	padding-bottom:60px;
}
.padd-b-80{
	padding-bottom:80px;
}
.m-t-0{ margin-top:0px!important;}
.m-t-5{	margin-top:5px;}
.m-t-10{ margin-top:10px;}
.m-t-20{ margin-top:20px;}
.m-t-30{ margin-top:30px;}
.m-t-40{ margin-top:40px;}
.m-t-50{ margin-top:50px;}
.m-t-70{ margin-top:70px;}
.m-t-80{ margin-top:80px;}
.m-b-0{ margin-bottom:0px;}
.m-b-10{ margin-bottom:10px;}
.m-b-20{ margin-bottom:20px;}
.m-b-30{ margin-bottom:30px;}
.m-b-40{ margin-bottom:40px;}
.m-b-50{ margin-bottom:50px;}
.m-l-10{ margin-left:10px;}
.m-r-5{ margin-right:5px;}
.m-r-10{ margin-right:10px;}
.m-r-20{ margin-right:20px;}
.m-r-30{ margin-right:30px;}
.m-auto{margin:30px auto 50px!important;}
.p-r-2{ padding-right:2px}
.p-l-2{ padding-left:2px}
.p-l-10{ padding-left:10px}
.h-218{height:218px;}
.text-u-l{text-decoration:underline;}
.text-u-c{text-transform:uppercase;}
.padd-all-md{
	padding:50px;
}
.padd-0{
	padding:0px;
}

.green-line{
	height:3px;
	background:#77c506;
	width:80px;
	margin:30px 0px 50px;
	display:block;
}
.gray-line{
	height:2px;
	background:#dedede;
	width:100%;
	margin:50px 0px 50px;
	display:block;
}
.h2-line{
	height:3px;
	background:#dedede;
	width:100px;
	margin:20px 0px;
	display:block;
}
.page-section-gray{
	display:block;
	background:#f4f9ff;
}
.page-section-gray h2{
	font-size:30px;
	font-weight:bold;
	font-family: 'Proxima Nova';
	margin-top:0px;
}
.page-section{
	display:block;
	min-height:500px;
}
.page-section h2{
	font-size:30px;
	font-weight:bold;
	font-family: 'Proxima Nova';
	margin-top:0px;
}
.home-step1-section{
	background-color:#f4f9ff;
	background-image:url(../images/doctors-group.jpg);
	background-repeat:no-repeat;
	background-position: right bottom;
}
.home-step1-section ul{
	margin:40px 0px 50px;
	padding:0px;
}
.home-step1-section ul li{
	display:block;
	list-style:none;
	font-weight:bold;
}
.home-step1-section ul li i{
	margin-right:5px;
	color:#243b96;
}
.home-step2-section{
	display:block;
}
.home-step2-section .card-block{
	background:#f4f9ff;
	border-top:3px solid #243b96;
	padding:30px;
	margin-bottom: 20px;
}
.home-step2-section .card-block h3{
	margin:0px 0px 20px;
	padding:0px;
	font-size:22px;
	font-weight:bold;
}
.home-step2-section .card-block p{
	margin:0px 0px 30px;
	padding:0px;
	font-size:18px;
}
.home-step3-section{
	background:#243b96;
	color:#fff;
}
.home-step3-section .app-view{
	position: absolute;
    top: -164px;
}
.home-step3-section .block-list{
	margin:20px 0px 0px;
	padding:0px;
}
.home-step3-section .block-list li{
	display:block;
	list-style:none;
}
.home-step3-section .block-list li i{
	margin-right:5px;
}

.home-step3-section .inline-list{
	margin:40px 0px 0px;
	padding:0px;
}
.home-step3-section .inline-list li{
	display:inline-block;
	list-style:none;
	margin-right:15px;
}
.footer-section{
	background:#414344;
	color:#fff;
}
.footer-section .ftr-block-list{
	display:block;
	margin-bottom:20px;
}
.footer-section .ftr-block-list h4{
	font-size:15px;
	font-weight:bold;
	margin:0px 0px 30px;
}
.footer-section .ftr-block-list ul {
	margin:0px;
	padding:0px;
}
.footer-section .ftr-block-list ul li{
	display:block;
	list-style:none;
}
.footer-section .ftr-block-list ul li a{
	color:#cecece;
}
.ftr-copyright{
	background:#111;
	padding:15px 0px;
	margin-top:50px;
	color:#cecece;
	font-size:14px;
}
.ftr-social {
  margin:0px;
  padding:0px;
}
.ftr-social li {
  padding: 0px 0px 0px 2px;
  display:inline-table;
}
.ftr-social li a {
    font-size: 14px;
    padding: 5px;
    text-align: center;
    border-radius: 50%;
    width: 34px;
    height: 34px;
    display: inline-block;
}
.ftr-social li i {
  min-width: 18px;
}
.ftr-social li a.fb {
  color: #fff;
  background:#3e5b9d;
}
.ftr-social li a.tw {
  color: #fff;
  background:#44c0f5;
}
.ftr-social li a.gp {
  color: #fff;
  background:#e05a42;
}
.ftr-social li a.ig {
  color: #fff;
  background:#5a8fba;
}
.ftr-social li a.yt {
  color: #fff;
  background:#cf2c21;
}
.ftr-social li a.pt {
  color: #fff;
  background:#de4245;
}
.ftr-social li a.li {
  color: #fff;
  background:rgb(80,160,192);
}
.map-marker-icon {
    position: absolute;
    z-index: 99;
    left: 24px;
    top: 18%;
    font-size: 25px!important;
    color: #f56c0f;
}
.facebook-bg{	background-color:#3e5b9d!important;}
.twitter-bg{	background-color:#44c0f5!important;}
.linkedin-bg{	background-color:#0e76a8!important;}
.gplus-bg{	background-color:#e05a42!important;}
.instagram-bg{	background-color:#5a8fba!important;}
.youtube-bg{	background-color:#cf2c21!important;}
.pinterest-bg{	background-color:#de4245!important;}

.bg-red{ background:#df2d54; color:#fff;}
.bg-red:hover{ color:#fff;}
.bg-green{ background:#11bb59; color:#fff;}
.bg-green:hover{ color:#fff;}
.bg-blue{ background:#303cd9; color:#fff;}
.bg-blue:hover{ color:#fff;}
.bg-black{ background:#555; color:#fff;}
.bg-black:hover{ color:#fff;}
.bg-yellow{ background:#d3c41c; color:#fff;}
.bg-yellow:hover{ color:#fff;}
.bg-maroon{ background:#9815db; color:#fff;}
.bg-maroon:hover{ color:#fff;}

.service-box{
    display: block;
    border: 2px solid #eee;
    padding: 15px 8px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 25px;
    color: #555;
    min-height: 110px;
    line-height: 18px;
}
.service-box:hover{
    background:#f7f7f7;
}
.service-box img{
    display: block;
    margin: auto;
}
.service-box h4{
	font-size:20px;
	margin:10px 0px;
	display:block;
}
.extend-service{
	background:#f7f7f7;
	padding:50px 0px;
	display:block;
}

.extend-service h2{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Proxima Nova';
    margin-top: 0px;
}
.extended-service-box{
	display: block;
    border: 2px solid #eee;
	background:#fff;
    padding: 30px 8px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 25px;
    color: #555;
}
.extended-service-box img{
    display: block;
    margin: auto;
	width:150px;
}
.p-v-60{padding:60px 0px;}
.inner-banner-section{
	background:#f7f7f7;
	padding:110px 0px 30px;
}
.inner-banner-section h2 {
    font-size: 30px;
    font-weight: bold;
    font-family: 'Proxima Nova';
    margin: 0px;
}
.login-cardbox{
    padding: 50px;
    background: #f7f7f7;
}
.login-cardbox h3{
    margin:0px 0px 30px;
	padding:0px;
	font-size:18px;
	font-weight:bold;
}
.gray-line-sm {
    height: 1px;
    background: #dedede;
    width: 100%;
    margin: 30px 0px 30px;
    display: block;
}


.property-listing-section{
	padding:40px 15px;
	background: #f4f8fa;
	display:block;
}
.property-listing-section h2{
    font-size: 22px;
    margin: 0px;
    padding: 0px;
}
.property-listing-section h3{
    margin: 0px 0px 10px;
    padding: 0px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
.property-listing-section-wrap{
	display:block;
}

.property-listing-content{
	display:block;
	padding:15px;
	background:#fff;
	min-height: 230px;
}
.property-listing-content .label {
    font-size: 14px;
}
.property-listing-content h4{
    margin: 0px 0px 10px;
    padding: 0px;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
}
.property-listing-content .price{
	margin:0px;
	padding:0px;
	font-size:24px;
	color:#ffc846;
	font-weight:bold;
}
.property-listing-content ul{
	margin:15px 0px;
	padding:0px;
}
.property-listing-content ul li{
	list-style:none;
	display:block;
}

.property-listing-content ul li i{
	margin-right:10px;
}
.listing-sidebar{
	background:#fff;
}
.listing-sidebar ul{
	margin:0px;
	padding:0px;
}
.listing-sidebar ul li{
	display:block;
	list-style:none;
	border-bottom:1px solid #ddd;
}
.listing-sidebar ul li:last-child{
	border-bottom:none;
}
.listing-sidebar ul li a{
	color:#555;
	padding:10px 15px;
	display:block;
}
.listing-sidebar ul li a:hover{
	text-decoration:none;
	background:#efefef;
}
.side-btn{
	position:fixed;
	top:20%;
	right:0px;
	z-index:999;
}
.side-btn ul{
	margin:0px;
	padding:0px;
}
.side-btn ul li{
	display:block;
	list-style:none;
	margin-bottom:5px;
}
.side-btn ul li a{
	padding:10px 15px;
	display:block;
	font-weight:bold;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}


.custom-pagination li a{
	color: #0691cb;
    background-color: #fff;
	padding: 6px 12px;
	font-size:14px;
}
.custom-pagination li a:hover{
	color: #fff;
    background-color: #0691cb;
}
.custom-pagination li a.active{
	color: #fff;
    background-color: #0691cb;
}
.custom-pagination li a:first-child{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.custom-pagination li a:last-child{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.profile-logo{
	border:2px solid #eee;
	text-align:center;
	padding:30px;
	height:200px;
}
.profile-content{
	display:block;
}
.profile-content h3{
	margin:0px;
	padding:0px;
	text-transform:uppercase;
	font-size:22px;
	font-weight:bold;
}

.sidebar-nav{
	position:relative;
	margin:20px 0px;
	padding:0px;
}
.sidebar-nav li {
	display:block;
	border:1px solid #eee;
	padding: 10px 10px;
}

.rating-icons{
    display: block;
    clear: both;
    height: 40px;
}
.rating-icons ul{
	margin:0px;
	padding:0px;
}
.rating-icons ul li{
    display: inline-block;
    color: #fff;
    BORDER: none;
    background: transparent;
	font-size:20px;
	padding:2px;
}
.rating-icons ul li i{
	color:#ffb103;
}
.utility-box{
    display: block;
    border: 2px solid #eee;
    padding: 15px 8px;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 25px;
    color: #555;
    min-height: 110px;
    line-height: 18px;
}
.utility-box:hover{
     border: 2px solid #ddd;
}
.utility-box img{
    display: block;
    margin: auto;
	width:70px;
	height:70px;
}
.utility-box h4{
	font-size:20px;
	margin:10px 0px;
	display:block;
}
.contact-address{
	display:block;
}
.contact-address h3{
	margin:0px 0px 15px;
	padding:0px;
}
.contact-address ul{
	margin:10px 0px 0px;
	padding:0px;
}
.contact-address ul li{
	display:block;
	list-style:none;
	line-height:30px;
}
.contact-address ul li i{
	margin-right:5px;
}
.list-none{
	position:relative;
}
.list-none li{
	display:block;
	list-style:none;
}
.deal-banner-section{
	width: 100%;
	display: block;
	position: relative;
	overflow: hidden;
	background-repeat: no-repeat;
	background-attachment: inherit;
	background-position: center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-image: url(../images/hotel.jpg);
	padding: 220px 0px 100px;
}

.deal-banner-section input{
	padding-left: 30px;
    padding-right: 30px;
}
.deal-banner-section .input-icon {
    position: absolute;
    right: 26px;
    top: 13px;
    color: #909090;
}

.deal-banner-section .search-icon {
	font-size: 17px;
    left: 24px;
    position: absolute;
    top: 12px;
}
.pos-rlt{ position:relative;}
.deal-section{
	display:block;
}
.deal-section .head{
	margin:0px;
	padding:0px;
	background:#414344;
	padding:15px;
	color:#fff;
	font-size:24px;
}

.deal-section .content{
	border: 1px solid #ddd;
	padding:15px;
}

.deal-section .content .img-box{
	border: 1px solid #ddd;
	padding:15px;
	text-align:center;
}
.deal-section .content .img-box img{
    width: 100%;
    height: auto;
}
.deal-section .content .title{
    border: 1px solid #ddd;
	padding:10px;
	margin-top: -1px;
	font-size:18px;
}
.hot-deal-section{
	background:#f7f7f7;
	padding:50px 0px;
	display:block;
}
.hot-deal-section h2{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Proxima Nova';
    margin-top: 0px;
}
.hot-deal-section .head{
	margin:0px;
	padding:0px;
	background:#414344;
	padding:15px;
	color:#fff;
	font-size:24px;
}

.hot-deal-section .img-box{
	border: 1px solid #ddd;
	background:#fff;
	padding:15px;
	text-align:center;
}
.hot-deal-section .img-box img{
    width: 100%;
    height: auto;
}
.hot-deal-section .title{
    border: 1px solid #ddd;
	background: #fff;
	padding:10px;
	margin-top: -1px;
	font-size:18px;
}
.coupon-box{
	display:block;
	border: 1px solid #ddd;
	background: #f7f7f7;
	padding:10px;
}
.coupon-box h3{
	margin:0px;
	padding:0px;
	font-size:20px;
}
.deal-banner-img {
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-attachment: inherit;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-image: url(../images/deal-banner.jpg)!important;
    padding: 220px 0px 0px;
    height: 450px;
}

.fileUpload {
    position: relative;
    overflow: hidden;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
.btn-gray{
	padding:8px 20px;
	text-transform:uppercase;
	background:#e5e5e5;
}
.btn-gray:hover,
.btn-gray:focus,
.btn-gray.focus,
.btn-gray:active,
.btn-gray.active{
  background-color: #dddddd!important;
  border-color: #dddddd!important;
  color:#000!important;
}



















